<h3>Player 1: <%= @game.player_1.name %>'s HP: <%= @game.player_1.hp %>/100
<br>Player 2: <%= @game.player_2.name %>'s HP: <%= @game.player_2.hp %>/100</h3>

<h3><%= @game.round.player_1.name %> chose <%= @game.round.player_1.weapon.type %>!
<br>
<%= @game.round.player_2.name %> chose <%= @game.round.player_2.weapon.type %>!</h3>
<% if @game.round.result[:winner].nil? %>
<h2>The game is a tie!</h2>
<%else%>
<h2><%= @game.round.result[:winner].weapon.type %> <%= @game.round.result[:verb] %> <%= @game.round.loser.weapon.type %>! <%= @game.round.result[:winner].name %> wins!</h2>
<%end%>

<% if (@game.player_1.hp > 0 && @game.player_2.hp > 0) %>
<form action="/play" method="get">
<button type="submit" id="play_again">Play again?</button>
</form>
<% else %>
<h3><%= @game.round.loser.name %> is unconscious!
<br><%= @game.round.result[:winner].name %> has won the game!!

<% end %>